:root {

    --main-bg-color: #ffffff;
    --main-color: #121212;
    --nav-link-bg-color: rgb(139, 70, 148);
}

body {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

nav a {
    color: var(--main-bg-color);
    background-color: var(--nav-link-bg-color);
    transition: background-color .2s, color .2s;
    border: 10px solid var(--nav-link-bg-color);
}

nav a:hover {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

#blogPost li {
    border: 3px solid var(--main-color);
}

#blogPost li div a {
    color: var(--main-color);
}

/* Sidebar */

#sidebar {
    border: 1px solid var(--main-color);

}

#sidebar > p {
    background-color: var(--main-color);
    color: var(--main-bg-color);

}


#sidebar a {
    color: var(--main-color);
}

#sidebar a:nth-child(2n+1) {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

