:root {
<<<<<<< HEAD
    --main-bg-color: #1c182c;
    --main-color: #0f0;
=======
    --main-bg-color: #2c182a;
    --main-color: #f3f3f3;
>>>>>>> parent of ddea6cb (Changed color back)
    --nav-background: rgb(65, 29, 90);
    --nav-link-bg-color: #00B8F5;
    --blog-bg-color: #140213;
    --blog-box-shadow: #0e0404;
    --box-shadow: -4px 4px 5px var(--blog-box-shadow);
}


body {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

/* Navigation */

nav {
    background-color: var(--nav-background) ;
}

nav a {
    color: var(--main-color);
    transition: background-color .2s, color .2s;
}

nav a:hover {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

#blogPost li {
    background-color: var(--blog-bg-color);
    border: 3px solid var(--main-color);
    box-shadow: var(--box-shadow);
}

#blogPost li div a {
    color: var(--main-color);
}

/* Sidebar */

#sidebar {
    background-color: var(--blog-bg-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--box-shadow);
}

#sidebar > p {
    background-color: var(--main-color);
    color: var(--main-bg-color);

}


#sidebar a {
    color: var(--main-color);
}

#sidebar a:nth-child(2n+1) {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

