:root {
    --main-bg-color: #2c182a;
    --main-color: #f3f3f3;
    --nav-background: rgb(65, 29, 90);
    --nav-link-bg-color: #00B8F5;
    --blog-bg-color: #140213;
    --blog-box-shadow: #0e0404;
    --box-shadow: -4px 4px 5px var(--blog-box-shadow);
}

body {
    color: #e7e7e7;
    background-color: #121212;
}

/* Navigation */

nav {
    background-color: var(--nav-background) ;
}

nav a {
    color: var(--main-color);
    transition: background-color .2s, color .2s;
}

nav a:hover {
    color: #e7e7e7;
    background-color: #121212;
}

#blogPost li {
    background-color: var(--blog-bg-color);
    border: 3px solid var(--main-color);
    box-shadow: var(--box-shadow);
}

#blogPost li div a {
    color: #e7e7e7;
}

/* Sidebar */

#sidebar {
    background-color: var(--blog-bg-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--box-shadow);
}

#sidebar > p {
    background-color: #e7e7e7;
    color: #121212;

}


#sidebar a {
    color: #e7e7e7;
}

#sidebar a:nth-child(2n+1) {
    background-color: #e7e7e7;
    color: #121212;
}

