body {
    color: #9e9e9e;
    background-color: #121212;
}

nav a {
    color: #9e9e9e;
    background-color: #121212;
    transition: background-color .2s, color .2s;
}

nav a:hover {
    color: #121212;
    background-color: #9e9e9e;
}